<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="answerDao" class="ru.otus.hw01.ioc.dao.CsvAnswerDao">
        <constructor-arg name="csvFile" value="/exam-question.csv"/>
    </bean>
    <bean id="questionDao" class="ru.otus.hw01.ioc.dao.CsvQuestionDao">
        <constructor-arg name="csvFile" value="/exam-question.csv"/>
    </bean>
    <bean id="examService" class="ru.otus.hw01.ioc.service.CsvExamService">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="answerDao" ref="answerDao"/>
    </bean>

</beans>
